<nav class="h-screen w-64 bg-blue-700 text-white flex flex-col p-4">
  <h2 class="text-xl font-bold mb-6 text-center">Survey System</h2>
  <ul class="flex flex-col gap-4">

    <li class="text-center">
      <a routerLink="/admin/dashboard"
         routerLinkActive="bg-blue-600"
         [routerLinkActiveOptions]="{ exact: true }"
         class="block px-2 py-1 rounded hover:bg-blue-600">
        Dashboard
      </a>
    </li>

    <li class="text-center">
      <a routerLink="/admin/user"
         routerLinkActive="bg-blue-600"
         class="block px-2 py-1 rounded hover:bg-blue-600">
        Users
      </a>
    </li>

    <li class="text-center">
      <a routerLink="/admin/survey"
         routerLinkActive="bg-blue-600"
         class="block px-2 py-1 rounded hover:bg-blue-600">
        Survey
      </a>
    </li>

    <li class="text-center">
      <a routerLink="/admin/setting"
         routerLinkActive="bg-blue-600"
         class="block px-2 py-1 rounded hover:bg-blue-600">
        Settings
      </a>
    </li>

  </ul>
</nav>
